<div class="row" id="tedit">
  <div class="col-xs-3 col-md-2 sidebar" style="padding-top:5px;">
    <ul class="nav nav-sidebar">
      <li style="font-size:11px; text-transform:uppercase; font-weight:bold; color:#777; padding-left:5px;">Week</li>
      <% @weeks.each do |week| %>
        <li style="font-size:11px;">
          <a href="/time/<%=  week["weeknum"] %>" style="display:block; position:relative;"><%=  week["weeknum"] %>
            <small style="position:absolute; top:0px; right:5px; color:#666;"><%= week["count"] %></small>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-9 col-md-10 main" style="width:100%;">
    <div id="flashmsgs" style="position:absolute;top:0px;right:0px;z-index:99999; padding:10px; min-height:52px;" class="hide">
    </div>

    <h1 style="font-size:22px; padding:10px;">
      <% if @current_week %>
        <% @current_week.each do |k,v| %>
          <span style="margin-right:10px;"><span style="color:#666"><%= k %>: </span><span><%=v%></span></span>
        <% end %>
        <% if params.key?(:all) %>
          <a href="/time/<%=params[:id]%>">show unaudited</a>
        <% else %>
          <a href="/time/<%=params[:id]%>?all=true">show all</a>
        <% end %>
      <% end %>
    </h1>
    <table class="table table-sm" style="table-layout: fixed;">
      <tbody>
        <tr>
          <td style="width:24%" valign="top">
            <input id="nameSearch" type="text" placeholder="ID or Name" style="width:98%"/>
            <select id="selectedNames" multiple size="15" style="width:98%">
              <%= @employees.each_with_index do |employee,idx| %>
                <option value="<%= idx %>"><%= employee["id"] %> - <%= employee["name"] %></option>
              <% end %>
            </select>
          </td>
          <td valign="top">
            <% @employees.each_with_index do |employee,idx| %>
            <div id="employee_<%= idx %>" style="display:none">
              <div style="font-size:12px; font-weight:bold;">
                <span style="color:#777"><%= employee["id"] %></span> <%= employee["name"] %>
                <a href="#" @click.prevent="addEntry(employee)" style="color:green; font-weight:bold;">+</a>
              </div>
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>
                      <a href="#" data-click-clear="start_time" style="color:black; font-weight:bold;">In</a>
                      /
                      <a href="#" data-click-clear="end_time" style="color:black; font-weight:bold;">Out</a></th>
                    <th>Lunch
                      <a href="#" data-click-clear="meal_start_time" style="color:black; font-weight:bold;">In</a>
                      /
                      <a href="#" data-click-clear="meal_end_time" style="color:black; font-weight:bold;">Out</a></th>
                    <th></th>
                    <th>Rate</th>
                    <th>Pieces</th>
                    <th>Hours</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% employee["entries"].to_a.each do |entry| %>
                  <tr data-entry-id="<%= entry["id"] %>">
                    <td nowrap>
                      <input v-else v-model="entry.day" @keyup.enter="saveEntry(entry)" placeholder="yyyy-mm-dd">
                    </td>
                    <td>
                      <input v-model="entry.start_time" @keyup.enter="saveEntry(entry)"  @change="copyTimes(employee,$index)" @focus="focusEntry(employee,$index)" placeholder="in" style="width:49%">
                      <input v-model="entry.end_time" @keyup.enter="saveEntry(entry)" @change="copyTimes(employee,$index)" placeholder="out" style="width:49%">
                    </td>
                    <td>
                      <input v-model="entry.meal_start_time" @keyup.enter="saveEntry(entry)" @change="copyTimes(employee,$index)" placeholder="in" style="width:49%">
                      <input v-model="entry.meal_end_time" @keyup.enter="saveEntry(entry)" @change="copyTimes(employee,$index)" placeholder="out" style="width:49%">
                    </td>
                    <td>
                      <button v-on:click="saveEntry(entry)" class="btn btn-sm btn-primary-outline">Update</button>
                    </td>
                    <td>{{entry.rate}}</td>
                    <td>{{entry.pieces}}</td>
                    <td nowrap>
                      <div v-if="entry.in_agpay">
                        <small class="text-no-wrap" style="display:block">
                          pr {{entry.hours}}
                        </small>
                        <small class="text-no-wrap" v-bind:class="{ 'text-warning': (entry.hours != entry.timecard_hours) }" style="display:block">
                          tc {{entry.timecard_hours}}
                        </small>
                      </div>
                    </td>
                    <td nowrap>
                      <div v-if="entry.in_agpay">
                        <small class="text-no-wrap" style="display:block">
                          pr {{entry.amount}}
                        </small>
                        <small class="text-no-wrap" v-bind:class="{ 'text-warning': (entry.amount != entry.timecard_amount) }" style="display:block">
                          tc {{entry.timecard_amount}}
                        </small>
                      </div>
                    </td>
                    <td><input type="checkbox" v-model="entry.audited" v-bind:true-value="true"
            v-bind:false-value="false" v-on:click="saveEntryDelay(entry)"></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<script language="javascript">
  var timeEdit = (function ($) {
    function timeEdit(id) {
      var self=this,selTimer=null;
      this.$el = $(document.getElementById(id));
      this.selectedNames = document.getElementById('selectedNames');
      this.$el.on('change keyup', '#nameSearch, #idSearch',function(e){
        clearTimeout(selTimer);
        selTimer = setTimeout(function(){
          setTimeout(function(){$('#selectedNames').trigger('change');},100);
          var name = $('#nameSearch').val().toUpperCase();
          if (name=='') {
            return($(self.selectedNames.options).show());
          }
          for (var i=0,iLen=self.selectedNames.length;i<iLen;i++) {
            var opt = self.selectedNames.options[i];
            if (name&&opt.text.indexOf(name)>=0) {
              $(opt).show();
            } else {
              $(opt).hide();
            }
          }
        },50);
      });
      this.$el.on('change', '#selectedNames',function(e){
        console.log('selectedNames',$(this).val());
      });


      return {
        selectedNames: selectedNames
      }

    }
    return timeEdit;
  })(jQuery);

  window.te = timeEdit('tedit');
</script>
